<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Django Application</title>
</head>
<body>
  <header style="position:absolute;height: 40px;width:100%;padding-top: 30px;padding-bottom: 30px;text-align: center;background-color: #ADD8E6">
    <h2><center>Welcome to the Demo Django Application !!</Center></h2>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer style="position:absolute;bottom:0;height: 40px;width:100%;padding-top: 40px;padding-bottom: 30px;text-align: center;background-color: #ADD8E6">
    <a href="https://www.linkedin.com/in/koride-sai/">LinkedIn</a>
  </footer>
</body>
</html>